<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link src="../styles/home.css" />
</head>
<body>
<!-- <p th:text="'Hello ' + ${name} + '!'" /> -->

<h1>Welcome to the NameGenerator</h1>

<button>Generate name</button>

<h1>Name appears here</h1>

<div class="card-deck">
    <div id="1" class="card" >
        <img class="card-img-top" src="../images/placeholder.jpg" alt="No Content">
        <div class="card-body">
            <h5 class="card-title">No content</h5>
        </div>
    </div>
    <div id="2" class="card" >
        <img class="card-img-top" src="images/placeholder.jpg" alt="No Content">
        <div class="card-body">
            <h5 class="card-title">No content</h5>
        </div>
    </div>
    <div id="3" class="card" >
        <img class="card-img-top" src="images/placeholder.jpg" alt="No Content">
        <div class="card-body">
            <h5 class="card-title">No content</h5>
        </div>
    </div>
    <div id="4" class="card" >
        <img class="card-img-top" src="images/placeholder.jpg" alt="No Content">
        <div class="card-body">
            <h5 class="card-title">No content</h5>
        </div>
    </div>
    <div id="5" class="card" >
        <img class="card-img-top" src="images/placeholder.jpg" alt="No Content">
        <div class="card-body">
            <h5 class="card-title">No content</h5>
        </div>


</body>
</html>